app {
  text-align: center;
}

app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#a{
  width: 80%;
  color: white;
  background-color:  dodgerblue;
  text-align: end;
  position: relative;
  top: 10px;
  left: 900px;
  margin: 8px;
  z-index: 99;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;

  &:hover{
    background-color: pink;
  }
}
#bsw{
  position: relative;
  top: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  background-color: white;
  color:  dodgerblue;
  border: 3px solid dodgerblue;
  font-family: qualy;
  z-index: 99;
}

/* all Home work Start here */

#homepage{
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to right, dodgerblue 50%, pink 50%);
  
}

#homepage .h1{
  color: white;
  background: linear-gradient(to right, pink 50%, dodgerblue 50%);
  width: 30%;
  height: 100px;
  z-index: 5;
  margin: 10px auto;
  position: relative;
  
  text-align: center;
  font-size: 60px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#wel{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 70px;
  
}
#homepage h2{
  color: white;
  font-size: 100px;
  -webkit-text-stroke: 5px;
  -webkit-text-stroke-color: dodgerblue;
  text-align: center;
  
  padding: 130px;
}

#homepage #btn{
  border: 4px solid pink;
  background-color: dodgerblue;
  color: white;
  width: 30%;
  margin-top: -5vh;
  margin-left: -98px;

}


.fchil{
  text-align: center;
  padding: 35px;
}

.p1{
  padding: 25px;
  background-color: pink;
  color: white;
}
.p1 .h1, .h2{
margin-top: 3vh;
}
 .h2{
  background-color: dodgerblue;
  color: white;
  text-align: center;
  width: 80%;
  margin: 10px auto;
  position: relative;
  top: -30px;
  
  border-top: 3px solid rgb(255, 255, 255);
}
.two{
  display: flex;
  margin: 10px auto;
}
.two h1, img{
  width: 50%;
  padding: 100px;
}
.two h1 p{
  font-size: 15px;
}


.tags{
  text-align: center;
  color: white;
  width: 100%;
  height: 150px;
  background-color: dodgerblue;
  padding: 50px;
}

#tags{
  padding: 30px;
}


#lastimg{
  background-color: pink;
  width: 80%;
  position: relative;
  left: 10%;
}




/* All Home work End here */

/* All work Css Start here */


#csspage{
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, pink 50%, dodgerblue 50%);
  animation: backc 4s infinite;
  
}
@keyframes backc{
  50%{transition: 2s;
    background: linear-gradient(to right, dodgerblue 50%, pink 50% );
  }
}

#csspage h1{
  color: white;
  /* background: linear-gradient(to right, dodgerblue 50%, pink 50%); */
  width: 30%;
  height: 100px;
  z-index: 5;
  margin: 10px auto;
  position: relative;
  text-align: center;
  font-size: 60px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  animation: backd 4s infinite;
}
@keyframes backd{
  40%{
    
    background: linear-gradient(to right, pink 50%, dodgerblue 50%);
  }
  80%{
    
    background: linear-gradient(to right, dodgerblue 50%, pink 50%);
  }
}
#csspage h2{
  color: white;
  font-size: 100px;
  -webkit-text-stroke: 5px;
  -webkit-text-stroke-color: dodgerblue;
  text-align: center;
  padding: 130px;
}

#csspage #btn{
  border: 4px solid pink;
  background-color: dodgerblue;
  color: white;
  width: 30%;
  margin-top: -5vh;
  margin-left: -98px;

}

/* #css video{
  margin-top: 10px;
} */

.st1{
  text-align: center;
  padding: 35px;
}

#cssp1{
  padding: 25px;
  background-color: pink;
  color: white;
}

.three{
  display: inline;

}
.three img{
  width: 80%;
}
.three h4{
  width: 80%;
  text-align: start;
  margin-left: 100px;
  margin-top: -18px;
  border-bottom: 5px solid rgba(128, 128, 128, 0.242);
  padding: 15px;
}
.three h4 p{
  font-size: 20px;
  color: gray;
  padding: 15px;
}


.csshover{
  text-align: center;
}

.cssp2{
  padding: 35px;
  
}

/* images hover effect */

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

table{
  text-align: center;
  margin-left: 25%;
  
}
table img{
  width: 50%;
  height: 50%;
}
table  h1{
  border-bottom: 5px solid rgba(128, 128, 128, 0.242);
}
table h1:hover{
  
color: white;
background-color: pink;
}



#cssanim{
  text-align: center;
  padding: 35px;
}


.animp{
  padding: 25px;
  background-color: pink;
  color: white;
}

/* animation effect */

.animationeff{
  width: 80%;
  height: 500px;
  margin: 10px auto;
  text-align: center;
  font-size: 100px;
  border-radius: 5%;
  color: white;
  animation-name: oggy;
  animation-duration:  5s;
  animation-iteration-count:  infinite;
   background: url("https://wallpapers.com/images/featured/4k-ultra-hd-dark-ws683y45oet0wq9c.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 

}
@keyframes oggy{
  40%{
    transition: all;
    background: url("https://www.baltana.com/files/wallpapers-13/Tech-HD-Wallpapers-35701.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  80%{
    
    color: dodgerblue;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    
    
  }
} 

#lastcss{
  text-align: center;
  padding: 40px;
  font-size: 100px;
  font-family: Qualy;
}

/* start cards */

.card-container {
  display: flex;
  
  position: relative;
  top: 5vh;
  
  gap: -5px;
  font-family: qualy;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border: none;
  border-bottom: 4px solid dodgerblue;
  
  overflow: hidden;
  transition: transform 0.3s;
  width: 300px;
  margin: 100px;

  
}

.card img {
  border: 4px solid dodgerblue;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;


}

.card-content {
  padding: 20px;
}

.card h3 {
  margin: 0 0 10px;
}

.card p {
  margin: 0;
  color: #666;
}

.card:hover {
  transform: translateY(-10px);
}
/* All css work end */

/* All javascript start here */



.st2{
  text-align: center;
  padding: 45px;
}



#domimg, .jsimg{
  width: 80%;
  margin-left: 10%;
  
  
}

.lajs h3{
  
  padding: 40px;
}

/* javascript end */

/* footer star */

footer{
  border-top: 5px solid dodgerblue;
}
#fend{
  display: flex;
  text-align: center;
  font-size: 35px;
  
}
#fend h3, a{
  
  margin: 10px;

}

.web{
  color: gray;
  text-align: center;
}